@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Journalism</h1>
    <h2>Welcome to the Lovejot Singh's Website</h2>
    <p>@DateTime.Now</p>
</div>
