@page "/"
@using System

@{
    string nameOfTheme = "Journalism";
    string myName = "Lovejot Singh";
    DateTime time = DateTime.Now;
}

<h1 id="a1">@nameOfTheme</h1>

<p id="a1">@myName</p>

<p id="a1">@time.ToString()</p>




