@page "/"
@using System

@{
    string nameOfTheme = "Journalism";
    string myName = "Lovejot Singh";
    DateTime time = DateTime.Now;
}

<div id="a2">

<h1 id="a1">@nameOfTheme</h1>

<h3 id="a1">@myName</h3>

<p id="a1">@time.ToString()</p>

</div>




