@page "/Journalismlist"


@{

    string heading = "List of Journalism";

}

<h1 id="a1"><em>@heading</em></h1>

<button @onclick="Lists" style="padding: 1%">Show List</button><br/><br/>

<label for="inputOfCount"><b>Display Count:</b></label>

<input id="inputOfCount" type="number"  min = "0" max ="5" @bind="displayCount" />


@foreach (string journalismName in strings.Take(displayCount))
{
    <p>@journalismName</p>
}


@code {

    private List<string> strings = new List<string>();

    private int displayCount = 0;


    private void Lists()
    {
        strings = new List<string> { "Reuters", "BBC News", "The Guardian", "The New York Times", "The Associated Press (AP)" };
    }

    
}

