@page
@model journalism.Pages_journalism1.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>journalism1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="journalism1.Name" class="control-label"></label>
                <input asp-for="journalism1.Name" class="form-control" />
                <span asp-validation-for="journalism1.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="journalism1.DateofBirth" class="control-label"></label>
                <input asp-for="journalism1.DateofBirth" class="form-control" />
                <span asp-validation-for="journalism1.DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="journalism1.Country" class="control-label"></label>
                <input asp-for="journalism1.Country" class="form-control" />
                <span asp-validation-for="journalism1.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="journalism1.Language" class="control-label"></label>
                <input asp-for="journalism1.Language" class="form-control" />
                <span asp-validation-for="journalism1.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="journalism1.Award" class="control-label"></label>
                <input asp-for="journalism1.Award" class="form-control" />
                <span asp-validation-for="journalism1.Award" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="journalism1.Stories" class="control-label"></label>
                <input asp-for="journalism1.Stories" class="form-control" />
                <span asp-validation-for="journalism1.Stories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
